[theme=cloud-theme]{
    --devsite-feedback-icon-background: #white !important;
    --devsite-header-border: white !important;
    --devsite-header-foreground-lower: white !important;
    --devsite-primary-color: #313131 !important;
    --devsite-header-color-upper: #313131 !important;
    --devsite-header-foreground-lower-hover: #949494 !important; 
    --devsite-header-foreground-lower-active: #949494 !important;
    --devsite-toc-border: #fff !important;
}
:root {
    --devsite-background-0: #525252 !important;
    --devsite-background-1: #313131 !important;
    --devsite-primary-text-color: white !important;
    --devsite-primary-color: #121212 !important;
    --devsite-heading-color: white !important;
}
.devsite-top-logo-row-wrapper-wrapper * {
    background-color: #313131 !important;
}
.devsite-top-logo-row-wrapper-wrapper *::before{
    background-color: #313131 !important;
}
.cws-banner__body-copy a {
    color:#1a73e8 !important;
}
.cws-banner__body-copy a:hover{
    color:#174ea6 !important;
}
.cloud-jump-menu__item--active:link .cloud-jump-menu__item__main, .cloud-jump-menu__item--active:visited .cloud-jump-menu__item__main {
    color: white !important;
}
.devsite-footer-linkbox-heading {
    color: white !important;
}
.cws-headline--headline-3 {
    color: white !important;
}
.cws-headline--headline-4 {
    color: white !important;
}
.cws-headline--headline-5 {
    color: white !important;
}
.pricing-module__pricing-table{
    background-color: #313131 !important;
}
.cws-headline--headline-6 {
    color: white !important;
}
.cloud-jump-menu__subhead-item {
    color: #d6d6d6 !important;
}
.cws-body{
    color: #d6d6d6 !important;
}
.cws-page{
    background-color: #525252 !important;
}
.ankle-module {
    background-color: #525252 !important;
}
.cws-link{
    color:white !important;
}
.cws-link:hover{
    color:#d6d6d6 !important;
}
.cws-label {
    color: white !important;
}
.left-overflow{
    background-color: #313131 !important;
}
.overflow-cover .left-overflow{
    background-color: #313131 !important;
}
img[src*="https://www.gstatic.com/devrel-devsite/prod/v03524b055229ae2d7e36c2f7867401f3447503fd5c5c18fd5cdefd483b35c9b4/cloud/images/cloud-logo.svg"] {
    content: url("https://storage.cloud.google.com/artifacts.eng-oven-351517.appspot.com/cloud-logo.png?authuser=1") !important;
    height:5% !important;
}
.cws-body--large{
    color:white !important;
}
